language: csharp
solution: mangopay2-net-sdk.sln
install:
  - nuget restore mangopay2-net-sdk.sln
  - nuget install NUnit.Runners -OutputDirectory testrunner
script:
  - xbuild mangopay2-net-sdk.sln /p:TargetFrameworkVersion="v4.5" /p:Configuration=Release
  - mono ./testrunner/NUnit.ConsoleRunner.*/tools/nunit3-console.exe ./MangoPay.SDk.Tests/bin/Release/MangoPay.SDK.Tests.dll
deploy:
  skip_cleanup: true
  provider: script
  script: chmod +x ./deploy/deploy.sh && ./deploy/deploy.sh $NUGET_API_KEY $NUGET_SOURCE
  on:
    branch: travis-ci-integration
